<h1 class="text-center">
  <div class="m-5">
    <h1 class="display-1">査定依頼フォーム</h1>
  </div>
</h1>

<div class="text-center">
<%= notice %>
</div>

<%= form_with model: @assessment_form, url: assessments_path do |f| %>
<%= f.hidden_field :branch_id, value: @branch_id %>
<% if @assessment_form.errors.any? %>
  <ul>
  <% @assessment_form.errors.full_messages.each do |message| %>
    <div style='color:red'><%= message %></div>
  <% end %>
  </ul>
<% end %>
<form class="row g-3">
  <div class="mb-3">
      <div class="mb-3">
        <%= f.label :user_last_name, 'お名前(姓)' %>
        <%= f.text_field :user_last_name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :user_first_name, 'お名前(名)' %>
        <%= f.text_field :user_first_name, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :user_last_name_kana, 'ふりがな(姓)' %>
        <%= f.text_field :user_last_name_kana, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :user_first_name_kana, 'ふりがな(名)' %>
        <%= f.text_field :user_first_name_kana, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :user_tel, '電話番号' %>
        <%= f.text_field :user_tel, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :user_email, 'メールアドレス' %>
        <%= f.email_field :user_email, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_prefecture, '都道府県' %>
        <%= f.text_field :property_prefecture, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_city, '市区町村' %>
        <%= f.text_field :property_city, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_other_address, 'それ以降' %>
        <%= f.text_field :property_other_address, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_type, '物件種別' %>
        <%= f.select :property_type, property_type, {}, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_building_area_unit, '建物面積単位' %>
        <%= f.select :property_building_area_unit, property_building_area_unit, {}, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_exclusive_area, '専有面積' %>
        <%= f.number_field :property_exclusive_area, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_land_area, '土地面積' %>
        <%= f.number_field :property_land_area, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_building_area, '建物面積' %>
        <%= f.number_field :property_building_area, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_floor_area, '延床面積' %>
        <%= f.number_field :property_floor_area, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_room_plan, '間取りを選択' %>
        <%= f.select :property_room_plan, property_room_plan, {}, class: 'form-select' %>
      </div>
      <div class="mb-3">
        <%= f.label :property_constructed_year, '築年数' %>
        <%= f.number_field :property_constructed_year, class: 'form-control' %>
      </div>

      <%= f.submit '査定依頼をする', class: 'btn btn-primary' %>
  </div>
</form>
<% end %>
