<figure class="text-center">
  <div class="m-5">
    <h1 class="display-1"><%= @branch.name_with_company %></h1>
  </div>
</figure>
<br>
<figure>
  <blockquote class="blockquote">
    <h2><%= @branch.catch_copy %></h2>
  </blockquote>
  <figcaption class="blockquote">
    <h3>
      <%= @branch.introduction %>
    </h3>
  </figcaption>
</figure>
<br>

<div class="m-5">
  <div class="dropdown">
    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="sort-options" data-bs-toggle="dropdown" aria-expanded="false">
      並び替え
    </a>

    <ul class="dropdown-menu" aria-labelledby="sort-options">
      <li><%= link_to '新しい順', branch_path(latest: true), class: 'dropdown-item' %></li>
      <li><%= link_to '評価が高い順', branch_path(best: true), class: 'dropdown-item' %></li>
    </ul>
  </div>
  <br/>
  <%= render 'layouts/card' %>
</div>

<div div class="d-grid gap-2 col-6 mx-auto">
  <%= link_to '査定依頼をする', new_assessment_url(branch_id: @branch.id), class: 'btn btn-primary' %>
  <br><br>
</div>

<%= render 'layouts/branch_info', branch: @branch %>
