<figure class="text-center">
  <div class="m-5">
    <h1 class="display-1"><%= @branch.name_with_company %></h1>
  </div>
</figure>
<br>
<figure>
  <blockquote class="blockquote">
    <h2><%= @branch.catch_copy %></h2>
  </blockquote>
  <figcaption class="blockquote">
    <h3>
      <%= @branch.introduction %>
    </h3>
  </figcaption>
</figure>
<br>

<div div class="d-grid gap-2 mx-auto">
  <%= button_to "査定依頼をする", {controller: 'assessments', action: 'new'}, {method: :get, class: "btn btn-primary", params: {branch_id: @branch.id}} %>
</div>

<div class="m-5 row">
  <dl class="col">
    <dt>企業名</dt>
    <dd><%= @branch.company.name %></dd>

    <% if @branch.post_code.present? %>
      <dt>郵便番号</dt>
      <dd><%= @branch.post_code %></dd>
    <% end %>

    <dt>住所</dt>
    <dd><%= @branch.other_address %></dd>

    <% if @branch.phone_number.present? %>
      <dt>電話番号</dt>
      <dd><%= @branch.phone_number %></dd>
    <% end %>

    <% if @branch.fax_number.present? %>
      <dt>FAX</dt>
      <dd><%= @branch.fax_number %></dd>
    <% end %>

    <% if @branch.open_hours.present? %>
      <dt>営業時間</dt>
      <dd><%= @branch.open_hours %></dd>
    <% end %>

    <% if @branch.regular_holiday.present? %>
      <dt>定休日</dt>
      <dd><%= @branch.regular_holiday %></dd>
    <% end %>
  </dl>

  <dl class='col'>
    <div class="mx-auto m-5" style="width: 500px;">
      <%= image_tag @branch.logo_url, height: 300 %>
    </div>
  </dl>
</dl>
