<figure class="text-center">
  <div class="m-5">
    <h1 class="display-1"><%= @branch.name_with_company %></h1>
  </div>
</figure>
<br>
<figure>
  <blockquote class="blockquote">
    <h2><%= @branch.catch_copy %></h2>
  </blockquote>
  <figcaption class="blockquote">
    <h3>
      <%= @branch.introduction %>
    </h3>
  </figcaption>
</figure>
<br>

<div class="row">
  <dl class="col">
    <dt>企業名</dt>
    <dd><%= @branch.company.name %></dd>

    <dt>郵便番号</dt>
    <dd><%= @branch.post_code %></dd>

    <dt>住所</dt>
    <dd><%= @branch.other_address %></dd>

    <dt>電話番号</dt>
    <dd><%= @branch.phone_number %></dd>

    <dt>FAX</dt>
    <dd><%= @branch.fax_number %></dd>

    <dt>営業時間</dt>
    <dd><%= @branch.open_hours %></dd>

    <dt>定休日</dt>
    <dd><%= @branch.regular_holiday %></dd>
  </dl>

  <dl class='col'>
    <div class="mx-auto m-5" style="width: 500px;">
      <%= image_tag @branch.logo_url, height: 300 %>
    </div>
  </dl>
</dl>
