
<div class="row">
  <dl class="col">
    <dt>企業名</dt>
    <dd><%= branch.company.name %></dd>

    <% if branch.post_code.present? %>
      <dt>郵便番号</dt>
      <dd><%= branch.post_code %></dd>
    <% end %>

    <dt>住所</dt>
    <dd><%= branch.other_address %></dd>

    <% if branch.phone_number.present? %>
      <dt>電話番号</dt>
      <dd><%= branch.phone_number %></dd>
    <% end %>

    <% if branch.fax_number.present? %>
      <dt>FAX</dt>
      <dd><%= branch.fax_number %></dd>
    <% end %>

    <% if branch.open_hours.present? %>
      <dt>営業時間</dt>
      <dd><%= branch.open_hours %></dd>
    <% end %>

    <% if branch.regular_holiday.present? %>
      <dt>定休日</dt>
      <dd><%= branch.regular_holiday %></dd>
    <% end %>
  </dl>

  <dl class='col'>
    <div class="mx-auto m-5" style="width: 500px;">
      <%= image_tag branch.logo_url, height: 300 %>
    </div>
  </dl>
</div>
