<% @branch.reviews.each do |review| %>
  <div class="card" style="width: 95%;">
    <%= link_to review_path(review.id), class: 'card-body text-dark text-decoration-none' do %>
      <h5 class="card-title"><%= review.review_title %>: ★<%= review.customer_satisfaction %></h5>
      <p class="card-text"><%= review.reason_for_customer_satisfaction %></p>
      <br>
      <span class="card-text">成約価格 <%= formatted_with_unit review.contract_price %></span>
      <span class="card-text">(<%= review.city.name_with_prefecture %>・<%= review.sold_out_date %>に売却)</span>
    <% end %>
  </div>
  <br>
<% end %>
