<% @branch.reviews.each do |review| %>
  <div class="card" style="width: 95%;">
    <%= link_to review_path, class: 'card-body text-dark text-decoration-none' do %>
      <h5 class="card-title"><%= review.review_title %>: ★<%= review.customer_satisfaction %></h5>
      <p class="card-text"><%= review.reason_for_customer_satisfaction %></p>
      <br>
      <span class="card-text">成約価格 <%= review.contract_price %> 円</span>
      <span class="card-text">(千葉県市川市・<%= review.sold_out_date %> に売却)</span>
    <% end %>
  </div>
  <br>
<% end %>
